In [6]:
import numpy as np
import pandas as pd

In [11]:
# Cargar el archivo .npy
datos = np.load('proyecto_training_data.npy')
datosdf = pd.DataFrame(datos)

datosdf

             0    1       2    3       4     5
0     208500.0  7.0   856.0  8.0  2003.0  65.0
1     181500.0  6.0  1262.0  6.0  1976.0  80.0
2     223500.0  7.0   920.0  6.0  2001.0  68.0
3     140000.0  7.0   961.0  7.0  1915.0  60.0
4     250000.0  8.0  1145.0  9.0  2000.0  84.0
...        ...  ...     ...  ...     ...   ...
1455  175000.0  6.0   953.0  7.0  1999.0  62.0
1456  210000.0  6.0  2073.0  7.0  1978.0  85.0
1457  266500.0  7.0  1188.0  9.0  1941.0  66.0
1458  142125.0  5.0  1078.0  5.0  1950.0  68.0
1459  147500.0  5.0  1256.0  6.0  1965.0  75.0

[1460 rows x 6 columns]

In [51]:
tamanio =len(datosdf) 
# Separar los datos entrenamiento (80%) 
tam_entrenamiento = int(0.8 * tamanio)

# validación y pruebas (20%)
tam_validacionpruebas = tamanio - tam_entrenamiento

datos_entrenamiento = datos[:tam_entrenamiento]
datos_validacionpruebas = datos[tam_entrenamiento:]

# Separar los datos de validación y pruebas en mitades iguales
tam_validacion = int(0.5 * len(datos_validacionpruebas))

datos_validacion = datos_validacionpruebas[:tam_validacion]
datos_pruebas = datos_validacionpruebas[tam_validacion:]

print("Tamaño Total")
print(tamanio)
print("Tamaño entrenamiento 80%")
print(tam_entrenamiento)
print("Tamaño validacion 10% y pruebas 10% (20%) ")
print(tam_validacionpruebas)
print("------------------------------")
print("Datos de entrenamiento:")
print(pd.DataFrame(datos_entrenamiento))
print("Datos de validación:")
print(pd.DataFrame(datos_validacion))
print("Datos de pruebas:")
print(pd.DataFrame(datos_pruebas))

Tamaño Total
1460
Tamaño entrenamiento 80%
1168
Tamaño validacion 10% y pruebas 10% (20%)
292
------------------------------
Datos de entrenamiento:
             0    1       2    3       4     5
0     208500.0  7.0   856.0  8.0  2003.0  65.0
1     181500.0  6.0  1262.0  6.0  1976.0  80.0
2     223500.0  7.0   920.0  6.0  2001.0  68.0
3     140000.0  7.0   961.0  7.0  1915.0  60.0
4     250000.0  8.0  1145.0  9.0  2000.0  84.0
...        ...  ...     ...  ...     ...   ...
1163  108959.0  4.0  1258.0  6.0  1969.0  60.0
1164  194000.0  5.0  1432.0  5.0  1978.0   NaN
1165  233170.0  7.0  1502.0  7.0  2009.0  79.0
1166  245350.0  8.0  1694.0  7.0  2008.0  64.0
1167  173000.0  6.0   959.0  7.0  2000.0  58.0

[1168 rows x 6 columns]
Datos de validación:
            0     1       2     3       4      5
0    235000.0   6.0  1236.0   7.0  1935.0  120.0
1    625000.0  10.0  1831.0  10.0  1995.0  118.0
2    171000.0   6.0  1118.0   6.0  1977.0   76.0
3    163000.0   6.0  1261.0   6.0  1958.0   76.0
4    171900.0   7.0   625.0   5.0  2006.0   35.0
..        ...   ...     ...   ...     ...    ...
141  179200.0   6.0  1294.0   6.0  1991.0    NaN
142  335000.0   7.0  1902.0   7.0  1959.0  100.0
143  203000.0   7.0  1274.0   6.0  2005.0   68.0
144  302000.0   8.0  1453.0   9.0  1990.0    NaN
145  333168.0   9.0  1422.0  10.0  1999.0  108.0

[146 rows x 6 columns]
Datos de pruebas:
            0    1       2    3       4     5
0    119000.0  4.0   948.0  5.0  1954.0  60.0
1    206900.0  6.0  1092.0  9.0  1969.0  85.0
2    295493.0  8.0  1630.0  8.0  2008.0  61.0
3    208900.0  7.0  1352.0  5.0  2006.0  47.0
4    275000.0  8.0  1787.0  7.0  2001.0   NaN
..        ...  ...     ...  ...     ...   ...
141  175000.0  6.0   953.0  7.0  1999.0  62.0
142  210000.0  6.0  2073.0  7.0  1978.0  85.0
143  266500.0  7.0  1188.0  9.0  1941.0  66.0
144  142125.0  5.0  1078.0  5.0  1950.0  68.0
145  147500.0  5.0  1256.0  6.0  1965.0  75.0

[146 rows x 6 columns]

In [57]:
DFDatos_entrenamiento = pd.DataFrame(datos_entrenamiento)
Media = DFDatos_entrenamiento.mean(axis=0)
ValorMaximo = DFDatos_entrenamiento.max(axis=0)
ValorMinimo = DFDatos_entrenamiento.min(axis=0)
Rango = DFDatos_entrenamiento.ndim
DesviacionEstandar = DFDatos_entrenamiento.std(axis=0)

Res = ({'Media':pd.Series(Media,dtype=float),'Valor Maximo':pd.Series(ValorMaximo,dtype=float), 
        'Valor Minimo':pd.Series(ValorMinimo,dtype=float), 'Rango':pd.Series(Rango,dtype=float),
       'Desviacion Estandar':pd.Series(DesviacionEstandar,dtype=float)})
dfRes = pd.DataFrame(Res)
dfRes

           Media  Valor Maximo  Valor Minimo  Rango  Desviacion Estandar
0  180590.277397      755000.0       34900.0    2.0         78815.697902
1       6.101027          10.0           1.0    NaN             1.378025
2    1156.323630        3228.0         334.0    NaN           373.780374
3       6.485445          14.0           2.0    NaN             1.609141
4    1971.451199        2010.0        1875.0    NaN            29.951707
5      69.946985         313.0          21.0    NaN            23.478161